html, body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #b2f0d8;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 8, 22);
}

.calculadora{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #333;
    border: 1px solid rgba(255,255,255,0.2)
}

.result-label{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    line-height: 60px;
    font-size: 32px;
    height: 60px;
    background-color: rgba(0,0,0, 0.3);
    color:white;
    text-align: right;
}

.calculadora .grid{
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px 1px rgba(0,0,0, 0.1);
}

.calculadora h1{
    display: flex;
    color: white;
    border: 1px solid grey;
    border-radius: 10px;
    position: absolute;
    font-size: 18px;
    padding: 5px 7px;
    top: -10px;
    transform: translateY(-120%);
    background-color: rgba(255,255,255,0.5);
}
.calculadora .grid button{
    border: 0;
    font: inherit;
    overflow: visible;
    padding: 0;
    appearance: button;
    -webkit-appearance: button; /* for input */
    user-select: none;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: transparent;

    font-size: 22px;
    font-family: fantasy;
    width: 80px;
    height: 80px;
    transition: border ease-in-out 0.3s;
    cursor: pointer;
}

.calculadora .grid button:hover{
    border: 1px solid rgba(255,255,255,0.2);
}

.calculadora .grid .numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 240px;
}

.calculadora .grid .numbers button{
    color: orange;
}

.calculadora .grid .functions{
    display: flex;
    flex-direction: row;
    width: 240px;
}

.calculadora .grid .functions button{
    color: indianred;
}


.calculadora .grid .math-operations{
    display: flex;
    flex-direction: column;
}

.calculadora .grid .math-operations button{
    color: indianred;
}