html, body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #b2f0d8;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 8, 22);
}
.calculadora{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-shadow: 0 0 10px 1px rgba(0,0,0, 0.1);
    background-color: #333;
}
.calculadora button{
    border: 0;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    appearance: button;
    -webkit-appearance: button; /* for input */
    user-select: none;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: transparent;
}

.calculadora h1{
    display: flex;
    color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    font-size: 18px;
    padding: 5px 7px;
    top: -10px;
    transform: translateY(-50%);
}
.calculadora button{
    width: 80px;
    height: 80px;
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 240px;
}

.numbers button{
    color: orange;
}

.functions{
    display: flex;
    flex-direction: row;
    width: 240px;
}

.functions button{
    color: indianred;
}


.math-operations{
    display: flex;
    flex-direction: column;
}

.math-operations button{
    color: indianred;
}